@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

body {
	font-family: 'Roboto', sans-serif;
}

.

.navbar {
	margin-bottom:0;
}

.date {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 5em;
  width: 80%;
  margin-right: 5px;
  background: #efefef;
  box-shadow: 2px 2px #e0e0e0;
}

.well .date {
  background: white;
}

.date .weekday,
.date .monthday,
.date .month {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.date .monthday {
  font-size: 20px;
  top: 1em;
}
.date .month {
  bottom: 0;
  top: auto;
}

.index h2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.index p.with {
  font-size: 12px;
  margin-top: 6px;
}

/* Detailpage Design
*****************************/
.heroimage {
	position:relative;
	background-image:url("img/img01.jpeg");
	background-size:cover;
	height:400px;
	background-attachment:scroll;
	background-position:left -100px;
	-webkit-filter: grayscale(1);
}

.heroimage h1 {
	padding:80px 0 0 80px;
	font-size:60px;
	color:#fff;
}

.heroimage p {
	padding:0px 0 0 80px;
	font-size:20px;
	color:#fff;
}

