<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Flüchtlingsfragen</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="scripts/flipclock.css" />
<link rel="stylesheet" href="scripts/jquery.upvote.css" />
<link rel="stylesheet" href="common.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="detail">
<div class="heroimage">
  <div class="heroimage-shadow">
    <div class="container">
      <h1>Wachstum durch<br>
        Immigration statt Geburten</h1>
      <p>Österreich wird in den kommenden Jahren um jährlich rund 60.000 Personen wachsen. "Grund dafür ist vor allem die Migration", sagte der Generaldirektor der Statistik Austria, Konrad Pesendorfer, anlässlich der Präsentation der Bevölkerungsstatistik von 2015 bis 2060. 2022 wird Österreich voraussichtlich die Neun-Millionen-Einwohner-Grenze durchbrechen.</p>
      <p class="small">Mit: Michael Matzenberger, DER STANDARD</p>
    </div>
  </div>
</div>

<div class="nextdate">
    <p>Live-Beantwortung: 26.11.2015, ab 10:00 Uhr</p>
    <div class="flip-counter clock"></div>
  </div>

<div class="commentboxbg">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form>
            <textarea placeholder="Stellen Sie Ihre Frage" id="question_text"></textarea>
            <button type="submit" class="btn btn-success green">Frage abschicken</button>
          </form>
        </div>
        <!-- Status Upload  --> 
      </div>
      <!-- Widget Area --> 
    </div>
  </div>
 </div>
</div>	

  
<div class="container">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="question_list">
      <div class="question clearfix">
        <div class="col-sm-12">
          <div class="small pull-left">User <strong>Flamegate</strong> fragt:</div>
          <div class="small pull-right text-muted ">5 minutes ago</div>
        </div>
        <div class="col-sm-10">
          <p>Wachstum, Wachstum, Wachstum Ab wann wirds denn in Aut wirklich eng? 9Mio, 10Mio? Mit oder ohne Integration und Werteblabla - eine ständig steigende Bevölkerungszahl wird uns so dermasen auf den Kopf fallen, da braucht keiner Angst haben wegen Pensionen oder ähnlichen!</p>
        </div>
        <div class="col-sm-2">
          <div class="upvote">
            <div class="hottopic">HOT</div>
            <span class="count">98</span> <span class="small">User haben Interesse</span></div>
        </div>
        <div class="col-sm-12">
          <button class="btn center-block btn-info" data-toggle="modal" data-target=".bs-success-modal">Interessiert mich auch</button>
        </div>
      </div>
      <div class="question clearfix">
        <div class="col-sm-12">
          <div class="small pull-left">User <strong>Flamegate</strong> fragt:</div>
          <div class="small pull-right text-muted">21.11.2015</div>
        </div>
        <div class="col-sm-10">
          <p>auf welchen Flächen wollen wir diese Menschen im bereits überbevölkerten Europa unterbringen? Allein Österreich müsste nun jährlich eine Stadt wie Linz auf die grüne Wiese stellen. Dabei verbauen wir jetzt schon Grünflächen im Ausmaß von 30 Fußbaldfeldern täglich. Wollen wir nun unsere letzten Naturräume zerstören??? Auch landwirtschaftliche Flächen brauchen wir für unsere Ernährungssicherhit!</p>
        </div>
        <div class="col-sm-2">
          <div class="upvote"> <span class="count">8</span> <span class="small">User haben Interesse</span></div>
        </div>
        <div class="col-sm-12">
          <button class="btn center-block btn-info" data-toggle="modal" data-target=".bs-success-modal">Interessiert mich auch</button>
        </div>
      </div>
      <div class="question clearfix">
        <div class="col-sm-12">
          <div class="small pull-left">User <strong>Flamegate</strong> fragt:</div>
          <div class="small pull-right text-muted">20.11.2015</div>
        </div>
        <div class="col-sm-10">
          <p>Die Bevölkerung wächst und damit die sozialen Spannungen. Im Jahr 2060 werden noch mehr Berufe als jetzt schon durch Computer und Maschinen wegrationalisiert worden sein, was sollen diese Menschen dann arbeiten?</p>
        </div>
        <div class="col-sm-2">
          <div class="upvote"> <span class="count">24</span> <span class="small">User haben Interesse</span></div>
        </div>
        <div class="col-sm-12">
          <button class="btn center-block btn-info" data-toggle="modal" data-target=".bs-success-modal">Interessiert mich auch</button>
        </div>
      </div>
      <div class="question clearfix">
        <div class="col-sm-12">
          <div class="small pull-left">User <strong>Flamegate</strong> fragt:</div>
          <div class="small pull-right text-muted">19.11.2015</div>
        </div>
        <div class="col-sm-10">
          <p>wieso nicht gleich Prognose für 2500? Das ist ja wohl ein Humbug. Lebenserwartung und Geburtenrate nach den Trends der letzten Jahre fortzuschreiben geht ja noch, da könnte es aber auch Überraschungen geben. Aber die Zuwanderung .... wie sollte die irgendjemand auch nur annähernd für die nächsten 45 Jahre abschätzen? Haben die vor 3 Jahren gewusst, dass heuer an die 100000 Asylwerber kommen? Und werden das nächstes Jahr noch mehr oder gibt es Frieden in Syrien und viele kehren zurück. Und welche Migrationsströme haben die z.B. für 2042 angenommen? Bitte um Auskunft!</p>
        </div>
        <div class="col-sm-2">
          <div class="upvote"> <span class="count">9</span> <span class="small">User haben Interesse</span></div>
        </div>
        <div class="col-sm-12">
          <button class="btn center-block btn-info" data-toggle="modal" data-target=".bs-success-modal">Interessiert mich auch</button>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center">
    <a href="live.html" class="btn btn-default">Zur Live-Seite</a>
  </p>
</div>
<div class="modal fade bs-success-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
<div class="modal-dialog modal-sm">
<div class="modal-content">
  <div class="modal-header">
    <h4>Danke für deine Bewertung!</h4>
  </div>
  <div class="modal-body">
    <p>Wir werden dich benachrichtigen, wenn die Frage beantwortet wurde!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
  </div>
</div>
</div>
</div>
<div class="modal fade " id="emptyModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
<div class="modal-dialog modal-sm">
<div class="modal-content">
  <div class="modal-header">
    <h4>Leere Frage!</h4>
  </div>
  <div class="modal-body">
    <p>Wir können leider keine leeren Fragen beantwoten - bitte schreib etwas ins Frage-Feld hinein!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
  </div>
</div>
</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="scripts/general.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> 
<script src="scripts/flipclock.min.js"></script> 
<script src="scripts/jquery.upvote.js"></script>

<script type="text/template" id="question_template">
      <div class="question clearfix">
        <div class="col-sm-12">
          <div class="small pull-left">User <strong><%= user %></strong> fragt:</div>
          <div class="small pull-right text-muted ">just now</div>
        </div>
        <div class="col-sm-10">
          <%= content %>
        </div>
        <div class="col-sm-2">
          <div class="upvote">
            <div class="hottopic">HOT</div>
            <span class="count">1</span> <span class="small">User haben Interesse</span></div>
        </div>
        <div class="col-sm-12">
          <button class="btn center-block btn-info" data-toggle="modal" data-target=".bs-success-modal">Interessiert mich auch</button>
        </div>
      </div>
</script>

<script>
// Simple JavaScript Templating
// John Resig - http://ejohn.org/ - MIT Licensed
(function(){
  var cache = {};
 
  this.tmpl = function tmpl(str, data){
    // Figure out if we're getting a template, or if we need to
    // load the template - and be sure to cache the result.
    var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
        tmpl(document.getElementById(str).innerHTML) :
     
      // Generate a reusable function that will serve as a template
      // generator (and which will be cached).
      new Function("obj",
        "var p=[],print=function(){p.push.apply(p,arguments);};" +
       
        // Introduce the data as local variables using with(){}
        "with(obj){p.push('" +
       
        // Convert the template into pure JavaScript
        str
          .replace(/[\r\t\n]/g, " ")
          .split("<%").join("\t")
          .replace(/((^|%>)[^\t]*)'/g, "$1\r")
          .replace(/\t=(.*?)%>/g, "',$1,'")
          .split("\t").join("');")
          .split("%>").join("p.push('")
          .split("\r").join("\\'")
      + "');}return p.join('');");
   
    // Provide some basic currying to the user
    return data ? fn( data ) : fn;
  };
})();

$('#question_list').on('click', '[data-target]', function(x) {
  var el = $(this).parents(".question").first().find(".upvote .count");
  var el = $(this).parents(".question").first().find(".upvote .count");
  console.log(el);
  el.text(parseInt(el.text())+1);
});
$('[type="submit"]').on('click', function(x) {
  console.log(this);
  var text = this.form.question_text.value;
  var tpl = $('#question_template').text();

  text = text.replace(/\n/g,'<br />');

  if(text.length==0) {
    $('#emptyModal').modal('show');
    return false;
  }

  var fragment = tmpl("question_template", {user: 'testUser', content: text});
  var jfragment = $(fragment);
  jfragment.insertBefore($(".question").first());
  return false;
});
</script>
</body>
</html>
